[submodule "dynobench"]
	path = dynobench
	url = git@github.com:quimortiz/dynobench
[submodule "deps/nigh"]
	path = deps/nigh
	url = git@github.com:IMRCLab/nigh.git
[submodule "dynomotions"]
	path = dynomotions
	url = git@github.com:quimortiz/dynomotions.git
